<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div style="background-color:#198755;"class="modal-header">
        <h5 style="color: aliceblue;" class="modal-title ">Checkout</h5>
    
        </div>
        <div class="modal-body">
        <p class="d-flex justify-content-between mt-3">Your order#{{OrderCode}} has been placed successfully!</p>   <!--on the # create Auto order function-->
        <p style="color: darkblue;"> Thank you for shopping with us.</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="ClosePopUp()" >Close</button>
        </div>
    </div>
</div>
