<!-- The main HTML template for the Ecommerce application*Temporary Note:*  
   it is just for displaying a header and a list of products with their title, price, and image. -->


<div class="app-wrapper">
  <app-navbar></app-navbar>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</div>
<!-- <h1 class="header">
    SARA
</h1>
 <div *ngFor="let product of products ">
    <h2>{{product.title}}</h2>
    <p>{{product.price}}</p>
    <img [src]="product.image" alt="{{product.title}}" width="100">
 </div> -->
